@using (Html.PiperChatPanel("Welcome to Piper Chat!"))
{
    <p>Hi, welcome back to Piper Chat</p>
}

<h2>Your contacts</h2>
<table>
    <tr>
        <td>
            <a href="#" class="contact-item">
                <img src="/images/profile/dinesh.png">
                <p>Dinesh Chugtai</p>
            </a>
        </td>
        <td>
            <a href="#" class="contact-item">
                <img src="/images/profile/jared.png">
                <p>Jared (Donald) Dunn</p>
            </a>
        </td>
        <td>
            <a href="#" class="contact-item">
                <img src="/images/profile/gilfoyle.png">
                <p>Bertram Gilfoyle</p>
            </a>
        </td>
        <td>
            <a href="#" class="contact-item">
                <img src="/images/profile/erlich.png">
                <p>Erlich Bachman</p>
            </a>
        </td>
        <td>
            <a href="#" class="contact-item">
                <img src="/images/profile/bighead.png">
                <p>Nelson "Big Head" Bighetti</p>
            </a>
        </td>
        <td>
            <a href="#" class="contact-item">
                <img src="/images/profile/richard.png">
                <p>Richard Hendricks</p>
            </a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>