body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 20px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.panel {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.panel-inner {
    padding: 20px;
}

.panel-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}

.panel-content {
    padding-top: 20px;
}

.panel-content p:last-child {
    margin-bottom: 0;
}

.contact-item {
    text-align: center;
    margin: 0 20px 0 0;
    cursor: pointer;
    display: block;
}

.contact-item img {
    width: 120px;
    height: 120px;
}

.contact-item:hover img {
    opacity: 0.5;
}

.contact-item p {
    font-weight: bold;
    margin: 10px 0 20px;
    width: 120px;
    height: 40px;
}